ACTION=="add",SUBSYSTEM=="net", ENV{DEVTYPE}=="wlan", RUN+="/usr/sbin/bosd add"
ACTION=="remove",SUBSYSTEM=="net", ENV{DEVTYPE}=="wlan", RUN+="/usr/sbin/bosd remove"
