[Unit]
Description=BikeOS daemon service
After=local-fs.target time-sync.target

[Service]
ExecStart=/usr/sbin/bosd daemon

[Install]
WantedBy=multi-user.target
