[Unit]
Description=BikeOS GPS time synchronization
After=syslog.target

[Service]
ExecStart=/usr/sbin/bosd gps date --set
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=time-sync.target
